#wrapper1 {
    background-color: magenta;
    height: 1100px;
    margin: auto;
    text-align: center;
}
.container  {
    padding: 10px;
}
h1  {
    outline: 2px solid black;
    width: 35%;
    margin: auto;
    padding: 20px;
}
button  {
    background-color: black;
    color: white;
    border-radius: 3px;
    height: 28px;
    width: 75px;
    font-weight: bold;
    margin: 10px auto;
}