<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %} 
    <link rel="stylesheet" href="{%static 'css/style3.css'%}">
</head>
<body>
    <div id="wrapper1">
        <div class="container">
            <h3>Random Word (attempt {{request.session.count}})</h3>
            <h1>{{request.session.randWord}}</h1>
            <button><a href="/reset">Reset</a></button>
        </div>
    </div>
</body>
</html>